:root{
    --clr-violet:hsl(263, 55%, 52%);
    --clr-dark-grayish-blue:hsl(217, 19%, 35%);
    --clr-dark-black:hsl(219, 29%, 14%);
    --clr--white:#fff;
    --clr-light-gray:hsl(0, 0%, 81%);
    --clr-grayish-blue:hsl(210, 46%, 95%);
}
body{
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background: var(--clr-grayish-blue);
    max-width: 1175px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
@media (max-width:600px) {
    body{
        font-size: 14px;
    }
    .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    }
    .card{
        max-width: 270px;
    }
}
.card{
    background: var(--clr-violet);
    color:var(--clr-light-gray);
    padding: 15px 35px 10px 35px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 20px 40px -20px var(--clr-dark-grayish-blue);
}
.row{
    margin-bottom:-10px;
}
.name{
    font-size: 1.05em;
    margin-bottom: 0;
    font-weight: 600;
}
.verified{
    font-size: 0.9em;
    margin-top: 0;
    color: hsla(0, 0%, 81%, 0.5);
}
.comment{
    color: hsla(0, 0%, 81%, 0.7);
    font-size: 1.04em;
    line-height: 1.4em;
    margin-top: -5px;
    padding-bottom: 0;
}
h2{
    margin-top:18px;
    font-size: 1.4em;
    line-height: 1.4em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card1{
    grid-column: 1 / 3;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 81% 0%;
}
.card1 img{
    border: 3px solid rgba(255,255,255,0.2);
}
.card2{
    grid-column: 3 / 4;
    background-color: var(--clr-dark-grayish-blue);
}
.card3{
    grid-column: 1 / 2;
    background-color: var(--clr--white);
}
.card4{
    grid-column: 2 / 4;
    background-color: var(--clr-dark-black);
}
.card4 img{
    border: 3px solid var(--clr-violet);
}
.card5{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: var(--clr--white);
}
.card3 p, .card3 h2, .card5 p, .card5 h2{
    color:var(--clr-dark-grayish-blue)

}
.card3 .verified, .card5 .verified{
    color: hsla(217, 19%, 35%, 50%);
}
.card3 .comment, .card5 .comment{
    color: hsla(217, 19%, 35%, 70%);
}

/* Footer */

.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #2A3039;
    color: white;
    text-align: center;
    padding: 15px;
}
.attribution a {
    color:  #FF931E;
    font-weight: 600;
    text-decoration: none;
    background: transparent;
    border:none;
    padding:0;
}
.attribution a:hover{
    background: none;
    border: none;
    color: var(--transparent-white);
} 